*,
*::after,
*::before {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
.search-box {
  font-family: cursive;
}

:root {
  --color-primary: #98141c;
  --color-secondary: #e9d9c9;
  /* --color-body: #fff7fc; */
  --color-body: #dbafa0;
}

.main-page {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 70%;
}

/* -------------------- sidebar ------------------- */

.sidebar {
  padding: 5rem 2.5rem;
  background-color: var(--color-secondary);
  height: auto;
}

.search-box {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
  margin: 0 auto;
}

.search-box:focus {
  border: 2px solid var(--color-primary);
}

.search-items {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  position: sticky;
  top: 0;
  left: 0;
}

.search-items a {
  transition: all 0.3s ease-out;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem;
  color: var(--color-primary);
  /* background-color: #fff; */
  border: 2px solid var(--color-primary);
  border-radius: 5px;
}

.search-items a:hover {
  color: #fff;
  background-color: var(--color-primary);
}

/* ----------------- product section ------------------- */
.product-section {
  background-color: var(--color-body);
}

.container {
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  padding: 0 2rem;
  gap: 2rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 5px 10px 15px rgba(82, 4, 4, 0.397);
  border-radius: 5px;
  overflow: hidden;
}

.product img {
  width: 200px;
}

.product__details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;
}

.product__price {
  /* font-weight: bold; */
  font-size: 1.7rem;
  color: var(--color-primary);
}

.product__name {
  font-size: 1.7rem;
}
